// Video-Panel --------------------------------------------------*
#video-panel.video-bg.span_12_of_12
	.play
		%a{:href => "#dialog", :name => "modal"}
			= image_tag( 'buttons/play-button_off.png', alt: "home", :class => "img-swap span_12_of_12")
	
	= image_tag( 'stamping.png', alt: "Stamp", :class => "insignia span_12_of_12")

/Video Modal
#boxes
	#dialog.window{:style => "left: 5%, height: 40em"}
		%a.close{:href => "#"} Close
		%iframe#video-id{:allowfullscreen => "", :frameborder => "0", :height => "615px", :mozallowfullscreen => "", :src => "", :webkitallowfullscreen => "", :width => "100%"}
	#mask

// Header-Panel --------------------------------------------------*	
#header.span_12_of_12
	= render(:partial => "common/header")

// Wafel-Panel --------------------------------------------------*
#wafel-panel.orange-bg.span_12_of_12

	= image_tag( 'ingredient-icons.png', alt: "ingredients", :class => "ingredient-icons span_2_of_12")
	%p.wafel-pattern.white BAKED WAFEL
	
	.centered-wafel.span_6_of_12
		= image_tag( 'wafel-back.png', alt: "Learn More", :class => "wafel-in-half2 span_10_of_12")
		= image_tag( 'wafel-front.png', alt: "Learn More", :class => "wafel-in-half1 span_10_of_12")
	
	%p.wafel-filling.white CHEWY FILLING


	.centered.span_12_of_12.benefits
		%h2.white.medium
			%span{:style => "font-weight: 300"}Only 
			%span{:style => "font-weight: 700"}150 
			%span{:style => "font-weight: 300"}CALORIES,
			%span{:style => "font-weight: 700"}ALL NATURAL 
			%span{:style => "font-weight: 300"}INGREDIENTS

// Cup-Panel --------------------------------------------------*
#cup-panel.lt-gray-bg.span_12_of_12
	%h2.explanation-text1.dkgray WHEN YOUR COFFEE IS TOO HOT TO DRINK

	.centered-cup.span_8_of_12
		#steam-big-cups.span_6_of_12
			= image_tag( 'wafel-top1.png', alt: "wafel", :class => "wafel-top span_5_of_12")
			= image_tag( 'red-full-cup.png', alt: "red-full-cup", :class => "red-full-cup cup span_12_of_12")
		#steam-big-cups.span_6_of_12
			= image_tag( 'wafel-top2.png', alt: "wafel", :class => "wafel-top span_5_of_12", :style => "padding-left: 4em")
			= image_tag( 'red-half-cup.png', alt: "red-half-cup", :class => "red-half-cup cup span_12_of_12", :style => "padding-left: 4em")
		
	%h2.explanation-text2.dkgray HEAT YOUR WAFEL WHILE YOU WAIT FOR YOUR COFFEE TO COOL DOWN

	.learn-more
		= link_to image_tag( 'buttons/learn-more-button_off.png', alt: "home", :class => "header-logo img-swap span_8_of_12"), wafel_path

// Break-Animation-Panel ----------------------------------------*
#break-animation-panel
	%table#actual-table
		%tr
			%td.orange-bg{:style => "border-left: none"}
				.css-clock
					.css-clock-pointer-seconds
					.css-clock-pointer-minutes
					.css-clock-pointer-hours
			%td.animation-cell1.blue-bg
				.animation-element.span_3_of_12
					#steam-little-cups
						#cup-steam
							= render(:partial => "common/steam")
						= image_tag( 'animation_panel/white-half-cup-with-wafel.png', alt: "clock", :class => "cup animation-cup span_11_of_12")
					%p.animation-text THE STEAM IS WARMING THE FILLING

			%td.animation-cell2.blue-bg
				.animation-element.span_3_of_12
					#steam-little-cups
						#cup-steam
							= render(:partial => "common/steam")
						= image_tag( 'animation_panel/white-half-cup-with-wafel2.png', alt: "clock", :class => "cup animation-cup span_11_of_12")
					%p.animation-text THE WAFEL IS CAPTURING THE AROMA

			%td.animation-cell3.blue-bg{:style => "border-right: none"}
				.animation-element.span_3_of_12
					#steam-little-cups
						#cup-steam
							= render(:partial => "common/steam")
						= image_tag( 'animation_panel/white-half-cup-with-wafel3.png', alt: "clock", :class => "cup animation-cup span_11_of_12")
					%p.animation-text 
						%span{:style => "opacity: 0; font-size: 0.75em"} THE WAFEL IS CAPTURING 
						%br/
						%span{:style => "font-size: 1.25em; margin-left: 3em"} READY

// Coffeeshop-Header-Panel --------------------------------------*
#coffeeshop-header-panel.white-bg.span_12_of_12
	.panel-content.span_12_of_12
		%h1.coffeeshop-text.dkgray.span_12_of_12 WE BELIEVE A SHORT BREAK GOES A LONG WAY

// Coffeeshop-Panel ----------------------------------------------*
#coffeeshop-panel.lt-gray-bg.span_12_of_12
	.coffeeshop-images
		.left-panel.lt-gray-bg.span_6_of_12
			%h1.overlay-text.span_6_of_12 ENJOY AT HOME
			= link_to image_tag( 'coffee-break-1.jpg', alt: "dutch-girl", :class => "dutch-girl"), store_path

		.right-panel.span_6_of_12
			%h1.overlay-text.span_6_of_12 ENJOY AT A SHOP
			= link_to image_tag( 'coffee-break-2.jpg', alt: "dutch-girl", :class => "dutch-girl"), wholesale_path

// Coffeeshop-Footer-Panel --------------------------------------------------*
#coffeeshop-footer-panel.lt-gray-bg.span_12_of_12
	%h2.carriers.dkgray.span_12_of_12 SELECTED CLIENTS
	.panel-content.span_8_of_12
		.shops-row.span_10_of_12
			= image_tag( 'shop3.png', alt: "shop3", :class => "shop span_4_of_12")
			= image_tag( 'shop5.png', alt: "shop5", :class => "shop span_4_of_12")
			= image_tag( 'shop6.png', alt: "shop6", :class => "shop span_4_of_12")
//remove coffee bar 

:javascript
	var animationThreeStartedOnce = false;
	$(window).scroll(function(e) {
		var scrollTop = $(window).scrollTop();
			if (scrollTop > 450) {
				$(".wafel-in-half1").addClass('move-left');
				$(".wafel-in-half2").addClass('move-right');
				$(".ingredient-icons").addClass('active');
				$(".benefits").addClass('active');
				$(".wafel-pattern").addClass('active');
				$(".wafel-filling").addClass('active');
			};
			if (scrollTop > 1150) {
				$(".wafel-top").addClass('move-top');
				setTimeout(function() {  
					$(".explanation-text1").addClass('active');
				}, 0000)
				setTimeout(function() {  
					$(".explanation-text2").addClass('active');
				}, 1000)
			};
			if (scrollTop > 1350) {
				$(".wafel-in-half1").removeClass('move-left');
				$(".wafel-in-half2").removeClass('move-right');
				$(".ingredient-icons").removeClass('active');
				$(".benefits").removeClass('active');
				$(".wafel-pattern").removeClass('active');
				$(".wafel-filling").removeClass('active');
			};
			if (scrollTop > 1750) {
				$(".wafel-top").removeClass('move-top');
				setTimeout(function() {
					$(".explanation-text1").removeClass('active');
					$(".explanation-text2").removeClass('active');
				}, 1000)
			};
			if (scrollTop > 2000) {

			};
			if ((scrollTop > 1800) && (scrollTop < 1900)) {
				animationThreeStartedOnce = true;
				if (animationThreeStartedOnce = true) {

					setTimeout(function() {  
						$('.animation-cell1').removeClass('blue-bg').addClass('orange-bg'); 
					}, 1000)
					setTimeout(function() {  
						$('.animation-cell1').removeClass('orange-bg').addClass('blue-bg');
						$('.animation-cell2').removeClass('blue-bg').addClass('orange-bg'); 
					}, 2000)
					setTimeout(function() {  
						$('.animation-cell2').removeClass('orange-bg').addClass('blue-bg');
						$('.animation-cell3').removeClass('blue-bg').addClass('orange-bg'); 
					}, 3000)
					setTimeout(function() {  
						$('.animation-cell3').removeClass('orange-bg').addClass('blue-bg'); 
					}, 4000)
					setTimeout(function() {  
						animationThreeStartedOnce = false; 
					}, 4500)
				}
			};
		}); 
	(e)

