// Video-Panel --------------------------------------------------*
/ TODO: add the video here
#video-panel.video-bg.span_12_of_12
	.play
		%a{:href => "#dialog", :name => "modal"}
			= image_tag( 'buttons/play-button_off.png', alt: "home", :class => "img-swap span_12_of_12")
	
	= image_tag( 'stamping.png', alt: "Stamp", :class => "insignia span_12_of_12")
	
/Video Modal
#boxes
	#dialog.window
		%a.close{:href => "#"} Close
		%iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/72865676", :webkitallowfullscreen => "", :width => "100%"}
	#mask



// Header-Panel --------------------------------------------------*	
#header.span_12_of_12
	= render(:partial => "common/header")


// Wafel-Panel --------------------------------------------------*

/ TODO: add an animation here
#wafel-panel.orange-bg.span_12_of_12

	= image_tag( 'ingredient-icons.png', alt: "ingredients", :class => "ingredient-icons span_2_of_12")
	.centered-wafel.span_6_of_12
		%p.wafel-pattern WAFEL PATTERN (BAKED)
		= image_tag( 'wafel-in-half.png', alt: "Learn More", :class => "wafel-in-half span_10_of_12")
		%p.wafel-filling FILLING (CHEWY)

	.centered.span_12_of_12
		%h2.white.medium
			%span{:style => "font-weight: 300"}Only 
			%span{:style => "font-weight: 700"}150 
			%span{:style => "font-weight: 300"}CALORIES,
			%span{:style => "font-weight: 700"}ALL NATURAL 
			%span{:style => "font-weight: 300"}INGREDIENTS

// Cup-Panel --------------------------------------------------*
/ TODO: add an animation here
#cup-panel.lt-gray-bg.span_12_of_12
	%h2.explanation-text.dkgray WHEN YOUR COFFEE IS TOO HOT TO DRINK

	.centered-cup.span_9_of_12
		#steam-big-cups.span_6_of_12
			= render(:partial => "common/steam")
			= image_tag( 'red-full-cup.png', alt: "red-full-cup", :class => "red-full-cup cup span_12_of_12")
		%span.filler.span_1_of_12
		#steam-big-cups.span_6_of_12
			= render(:partial => "common/steam")
			= image_tag( 'red-half-cup.png', alt: "red-half-cup", :class => "red-half-cup cup span_12_of_12")
		
	%h2.explanation-text.dkgray HEAT YOUR WAFEL WHILE YOU WAIT FOR YOUR COFFEE TO COOL DOWN

	.learn-more
		= link_to image_tag( 'buttons/learn-more-button_off.png', alt: "home", :class => "header-logo img-swap span_8_of_12"), wafel_path

// Break-Animation-Panel ----------------------------------------*
/ TODO: add an animation here
/ TODO: Finalize steam placement
#break-animation-panel
	%table#actual-table
		%tr
			%td.blue-bg{:style => "border-left: none"}
				= image_tag( 'animation_panel/clock animation.gif', alt: "clock", :class => "clock")
			%td.orange-bg
				.animation-element.span_3_of_12
					#steam-little-cups
						= render(:partial => "common/steam")
						= image_tag( 'animation_panel/white-half-cup-with-wafel.png', alt: "clock", :class => "cup span_10_of_12")
					%p.animation-text THE STEAM IS WARMING THE FILLING

			%td.blue-bg
				.animation-element.span_3_of_12
					#steam-little-cups
						= render(:partial => "common/steam")
						= image_tag( 'animation_panel/white-half-cup-with-wafel2.png', alt: "clock", :class => "cup span_10_of_12")
					%p.animation-text THE WAFEL IS CAPTURING THE AROMA

			%td.orange-bg{:style => "border-right: none"}
				.animation-element.span_3_of_12
					#steam-little-cups
						= render(:partial => "common/steam")
						= image_tag( 'animation_panel/white-half-cup-with-wafel3.png', alt: "clock", :class => "cup span_10_of_12")
					%p.animation-text
						%span{:style => "opacity: 0"} test
						%br/
						%span{:style => "font-size: 1.25em"} READY

// Coffeeshop-Header-Panel --------------------------------------*
#coffeeshop-header-panel.lt-gray-bg.span_12_of_12
	.panel-content.span_12_of_12
		%h1.coffeeshop-text.dkgray.span_12_of_12 WE BELIEVE A SHORT BREAK GOES A LONG WAY

// Coffeeshop-Panel ----------------------------------------------*
#coffeeshop-panel.lt-gray-bg.span_12_of_12
	.coffeeshop-images
		.left-panel.lt-gray-bg.span_6_of_12
			.shop-button
				= link_to image_tag( 'buttons/shop-online-button_off.png', alt: "home", :class => "header-logo img-swap span_12_of_12"), store_path
			%h1.overlay-text.span_6_of_12 ENJOY AT HOME
			= link_to image_tag( 'coffee-break-1.jpg', alt: "dutch-girl", :class => "dutch-girl"), store_path

		.right-panel.span_6_of_12
			.shop-button
				= link_to image_tag( 'buttons/wholesale-button_off.png', alt: "home", :class => "header-logo img-swap span_12_of_12"), store_path
			%h1.overlay-text.span_6_of_12 ENJOY AT A SHOP
			= link_to image_tag( 'coffee-break-2.jpg', alt: "dutch-girl", :class => "dutch-girl"), wholesale_path
// TODO: get the image here.


// Coffeeshop-Footer-Panel --------------------------------------------------*
#coffeeshop-footer-panel.lt-gray-bg.span_12_of_12
	%h2.carriers.dkgray.span_12_of_12 SOME PLACES THAT CARRY US
	.panel-content.span_10_of_12
		= image_tag( 'shop2.png', alt: "shop2", :class => "shop span_2_of_12")
		= image_tag( 'shop3.png', alt: "shop3", :class => "shop span_2_of_12")
		= image_tag( 'shop5.png', alt: "shop5", :class => "shop span_2_of_12")
		= image_tag( 'shop6.png', alt: "shop6", :class => "shop span_2_of_12")
