// Video-Panel --------------------------------------------------*
#video-panel.video-bg.span_12_of_12
	.play
		.sprite

	= image_tag( 'rvw-stamp.png', alt: "Stamp", :class => "insignia span_12_of_12")

// Header-Panel --------------------------------------------------*	
#header.span_12_of_12
	= render(:partial => "common/header")


// Wafel-Panel --------------------------------------------------*

/ TODO: add an animation here
#wafel-panel.orange-bg.span_12_of_12

	.centered-wafel.span_6_of_12

		%p.wafel-pattern WAFEL PATTERN (BAKED)

		= image_tag( 'wafel-in-half.png', alt: "Learn More", :class => "wafel-in-half span_10_of_12")

		%p.wafel-filling FILLING (CHEWY)

	.centered.span_12_of_12
		%h2.white 
			ONLY 
			%span{:style => "font-weight: 700"}8g 
			OF SUGAR AND 
			%span{:style => "font-weight: 700"}150 
			CALORIES, 
			%span{:style => "font-weight: 700"}ALL NATURAL 
			INGREDIENTS. 
			%span.tk-futura-pt Question?


// Cup-Panel --------------------------------------------------*
/ TODO: add an animation here
#cup-panel.gray-bg.span_12_of_12
	.panel-content
		%h2.explanation-text.dkgray WHEN YOUR COFFEE IS TOO HOT TO DRINK

		.centered-cup.span_9_of_12
			%span.cup-padding.span_1_of_12
			.steam
			= image_tag( 'red-full-cup.png', alt: "red-full-cup", :class => "red-full-cup span_5_of_12")
			%span.cup-padding.span_1_of_12
			.steam
			= image_tag( 'red-half-cup.png', alt: "red-half-cup", :class => "red-half-cup span_5_of_12")
			
		%h2.explanation-text.dkgray HEAT YOUR WAFEL WHILE YOU WAIT FOR YOUR COFFEE TO COOL DOWN
		.learn-more
			.sprite

// Break-Animation-Panel ----------------------------------------*
/ TODO: add an animation here
#break-animation-panel
	.panel-content

%table#actual-table
	%tr
		%td
			= image_tag( 'animation_panel/clock animation.gif', alt: "clock", :class => "clock")			

		%td
			.steam
			= image_tag( 'animation_panel/white-half-cup-with-wafel.png', alt: "clock", :class => "animation-element")
			%p.animation-text THE STEAM IS WARMING THE FILLING

		%td
			.steam
			= image_tag( 'animation_panel/white-half-cup-with-wafel2.png', alt: "clock", :class => "animation-element")
			%p.animation-text THE WAFEL IS CAPTURING THE AROMA

		%td
			.steam
			= image_tag( 'animation_panel/white-half-cup-with-wafel3.png', alt: "clock", :class => "animation-element")
			%p.animation-text READY!



// Coffeeshop-Header-Panel --------------------------------------*
#coffeeshop-header-panel.lt-gray-bg.span_12_of_12
	.panel-content.span_12_of_12
		%h2.coffeeshop-text.dkgray.span_12_of_12 WE BELIEVE A SHORT BREAK CAN GO A LONG WAY


// Coffeeshop-Panel ----------------------------------------------*
#coffeeshop-panel.gray-bg.span_12_of_12
	.coffeeshop-images
		.left-panel.span_6_of_12
			.shop-button
				.sprite
			%h2.overlay-text.span_6_of_12 ENJOY AT HOME
			= image_tag( 'dutch-girl.jpg', alt: "dutch-girl", :class => "dutch-girl")

		.right-panel.span_6_of_12
			.shop-button
				.sprite
			%h2.overlay-text.span_6_of_12 ENJOY AT A SHOP
			= image_tag( 'dutch-girl.jpg', alt: "dutch-girl", :class => "dutch-girl")

// TODO: get the image here.



// Coffeeshop-Footer-Panel --------------------------------------------------*
#coffeeshop-footer-panel.lt-gray-bg.span_12_of_12
	.panel-content.span_8_of_12
		= image_tag( 'shop1.png', alt: "shop1", :class => "shop span_2_of_12")
		= image_tag( 'shop2.png', alt: "shop2", :class => "shop span_2_of_12")
		= image_tag( 'shop3.png', alt: "shop3", :class => "shop span_2_of_12")
		= image_tag( 'shop4.png', alt: "shop4", :class => "shop span_2_of_12")
		= image_tag( 'shop5.png', alt: "shop3", :class => "shop span_2_of_12")
		= image_tag( 'shop6.png', alt: "shop4", :class => "shop span_2_of_12")
