// Header-Panel --------------------------------------------------*	
#header.span_12_of_12
	= render(:partial => "common/header")

// Short-Break-Panel --------------------------------------------------*
#short-break.lt-gray-bg.span_12_of_12
	%h1.short-break.orange.centered.span_10_of_12 
		%span{:style => "font-weight: 700"} OUR VISION 
		%span{:style => "font-weight: 200; font-size: .5em"}IS TO 
		%span{:style => "font-weight: 700"}REVOLUTIONIZE 
		%span{:style => "font-weight: 200; font-size: .5em"}THE 
		%span{:style => "font-weight: 200"}FORGETTABLE 
		%span{:style => "font-weight: 700"}AMERICAN COFFEE RUN


#five-minutes-panel.centered.lt-gray-bg
	%h2.five-minutes.centered.span_10_of_12 FIVE MINUTES OUTSIDE THE OFFICE AT A LOCAL MORNING COFFEE SPOT. A HALF HOUR BETWEEN CLASSES. A LUNCH ENJOYED SOMEWHERE BESIDES A DESK. WE RELY ON THESE BRIEF MOMENTS TO CARRY US THROUGH THE DAY. 


// Slideshow-Panel --------------------------------------------------*
#slideshow-panel.lt-gray-bg.height600.span_12_of_12
	#gallery.span_10_of_12
		.nav
			%a.previous{:href => "#"}
				= image_tag('about-page/previous_arrow.png', alt: "next", :class => "arrow")
			%a.next{:href => "#"}
				= image_tag('about-page/next_arrow.png', alt: "previous", :class => "arrow")

		.slide-deck
			#A.slide.span_10_of_12{"data-position" => "1", "data-transition" => "horizontal"}
				= image_tag( 'about-page/history/history1.jpg', alt: "history", :class => "slide-image span_5_of_12")
				.filler.span_1_of_12
				.slide-text.span_6_of_12
					%h2 WHERE ARE THE WAFELS?
					%p Amsterdam native Rip Pruisken arrives at Brown University. Rip heads to the dining hall for koffietijd—a midmorning coffee break enjoyed with a warm wafel. Finding decent coffee but no wafels, Rip is horrified to learn that most America is without his favorite snack.

			#B.slide.span_10_of_12{"data-position" => "2", "data-transition" => "horizontal"}
				= image_tag( 'about-page/history/history2.jpg', alt: "history", :class => "slide-image span_5_of_12")
				.filler.span_1_of_12
				.slide-text.span_6_of_12
					%h2 STARTING OUT OF A DORM ROOM?
					%p Three years  and 1,625 wafel-less koffietijds later, Rip’s had enough. He buys a waffle iron and begins pressing the first batch of homemade stroopwafels in his dorm. His cookies are inedible. Undeterred, he tries again...and again.
			#C.slide.span_10_of_12{"data-position" => "3", "data-transition" => "horizontal"}
				= image_tag( 'about-page/history/history3.jpg', alt: "history", :class => "slide-image span_5_of_12")
				.filler.span_1_of_12
				.slide-text.span_6_of_12
					%h2 VISITING WAFEL FACTORIES IN HOLLAND?
					%p Rip visits Holland to learn from the wafel masters.

			#D.slide.span_10_of_12{"data-position" => "4", "data-transition" => "horizontal"}
				= image_tag( 'about-page/history/history4.jpg', alt: "history", :class => "slide-image span_5_of_12")
				.filler.span_1_of_12
				.slide-text.span_6_of_12
					%h2 FIRST SALE ON THE MAIN GREEN
					%p Rip sets up shop on the campus Main Green and slings handmade wafels to kids on their way to class. One strange day in late April, hundreds of confused-looking students pour onto the quad clamoring for a bite. He can’t keep up with demand.
			#E.slide.span_10_of_12{"data-position" => "5", "data-transition" => "horizontal"}
				= image_tag( 'about-page/history/history5.jpg', alt: "history", :class => "slide-image span_5_of_12")
				.filler.span_1_of_12
				.slide-text.span_6_of_12
					%h2 WILLY WONKA ASSEMBLY LINE
					%p After raising funds Rip recruits a group of engineering students to design an automated press that cranks out 150 wafels an hour. Rip Van Wafels is born.

			#F.slide.span_10_of_12{"data-position" => "6", "data-transition" => "horizontal"}
				= image_tag( 'about-page/history/history6.jpg', alt: "history", :class => "slide-image span_5_of_12")
				.filler.span_1_of_12
				.slide-text.span_6_of_12
					%h2 MARCO COMES BACK FROM BRAZIL
					%p Enter Marco. Arriving from a semester abroad in Brazil, Marco is inspired to create something (lots of sun and caipirinhas had something to do with it).
			#G.slide.span_10_of_12{"data-position" => "7", "data-transition" => "horizontal"}
				= image_tag( 'about-page/history/history7.jpg', alt: "history", :class => "slide-image span_5_of_12")
				.filler.span_1_of_12
				.slide-text.span_6_of_12
					%h2 MARCO & RIP WIN THE BROWN BUSINESS PLAN COMPETITION
					%p At a party in early February, Marco and Rip talk about joining forces to expand Rip van Wafels around the country. Together Rip and Marco enter and win the Brown Business Plan Competition and raise enough seed money to expand beyond College Hill. 

			#H.slide.span_10_of_12{"data-position" => "8", "data-transition" => "horizontal"}
				= image_tag( 'about-page/history/history8.jpg', alt: "history", :class => "slide-image span_5_of_12")
				.filler.span_1_of_12
				.slide-text.span_6_of_12
					%h2 HUSTLING AND GETTING THINGS OFF THE GROUND
					%p Marco and Rip hustle Rip van Wafels around the country living solely off coffee and wafels. After many parking tickets, numerous couches surfed, and more than a handful of college parties, Rip van Wafels begins gaining notice.
			#I.slide.span_10_of_12{"data-position" => "9", "data-transition" => "horizontal"}
				= image_tag( 'about-page/history/history9.jpg', alt: "history", :class => "slide-image span_5_of_12")
				.filler.span_1_of_12
				.slide-text.span_6_of_12
					%h2 MOVING TO SF
					%p Inspired by the coffee renaissance in Northern California, Rip Van Wafels relocates to to San Francisco. 

			#J.slide.span_10_of_12{"data-position" => "10", "data-transition" => "horizontal"}
				= image_tag( 'about-page/history/history10.jpg', alt: "history", :class => "slide-image span_5_of_12")
				.filler.span_1_of_12
				.slide-text.span_6_of_12
					%h2 AND BEYOND...
					%p Rip van Wafels is proudly stocked at coffee shops, offices, and specialty stores around the country. From Providence to Palo Alto, Americans learn that a short break goes a long way—one Rip van Wafel at a time.

		.nav
			%a.direct{:href => "#A"} 2006
			
			%a.direct{:href => "#B"} 2009
			%a.direct{:href => "#C"} 2009
			
			%a.direct{:href => "#D"} 2010
			%a.direct{:href => "#E"} 2010

			%a.direct{:href => "#F"} 2011
			%a.direct{:href => "#G"} 2011

			%a.direct{:href => "#H"} 2012
			%a.direct{:href => "#I"} 2012

			%a.direct{:href => "#J"} 2013


// Our-Team-Panel --------------------------------------------------*
#team-panel.lt-gray-bg
	#person
		= image_tag( 'about-page/bio-image-rip.jpg', alt: "bio-rip", :class => "bio-image-rip span_5_of_12")
		#details.rip.span_4_of_12
			%p.person-name.span_6_of_12 Rip Pruisken
			%span.person-title.span_6_of_12 Little Dutch Boy (LDBA)
			%p.title-pairings.span_6_of_12 PAIRINGS:
			%span.person-pairing.span_6_of_12 Rip van Wafels + Americano 
			%br/
			%span.person-pairing.span_6_of_12 Rip van Wafels + Earl Grey
			%p.title-facts.span_6_of_12 FACTS:
			%span.person-facts.span_6_of_12 Has eaten more than a 1000 Rip van Wafels- living proof that the Rip van Wafel competes with the paleo diet.

	#person
		= image_tag( 'about-page/bio-image-marco.jpg', alt: "bio-marco", :class => "bio-image-marco span_5_of_12")
		#details.marco.span_4_of_12
			%p.person-name.span_6_of_12 Marco De Leon
			%span.person-title.span_6_of_12 Cookie Monster 
			%p.title-pairings.span_6_of_12 PAIRINGS:
			%span.person-pairing.span_6_of_12 Rip van Wafels +
			%p.title-facts.span_6_of_12 FACTS:
			%span.person-facts.span_6_of_12 Had a Rip van Wafel on Mt. Kilimanjaro (19,341 feet)  - the highest point on land a Rip van Wafels has been consumed.

// Our-Location-Panel --------------------------------------------------*
#location-container.lt-gray-bg.span_12_of_12
	#location-panel.span_10_of_12
		#location-panel-left.span_6_of_12
			%h2.visit-us.bold VISIT US
			#map_canvas.span_8_of_12
		#location-panel-right.span_6_of_12
			%h2.join-us.bold JOIN US
			= link_to "MARKETING REP", "https://podio.com/webforms/4934165/385560", :class =>"position-link", :target => "_blank"
			= link_to "AMSTERDAM SAMPLING GIRL", "https://podio.com/webforms/4943834/386304", :class =>"position-link", :target => "_blank"
			= link_to "CREATE YOUR OWN POSITION", "https://podio.com/webforms/4944012/386322", :class =>"position-link", :target => "_blank"

:javascript
	$(document).ready(function () {
		var $sections = $('.slide-deck .slide')

		$sections.slideDeck({ speed: 1000 })

		$('.nav a.direct').on('click', function(event) {
		  event.preventDefault()
		  var match = this.href.match(/#(.*)$/)
		  $sections.change(match[1])
		})

		$('.nav a.previous').on('click', function(event) {
		  event.preventDefault()
		  $sections.previous()
		})

		$('.nav a.next').on('click', function(event) {
		  event.preventDefault()
		  $sections.next()
		})

		var $message = $('#message')

		$sections.on('exited', function(event, incomming) {
		  $message.html(this.id + ' has exited and was replaced by ' + incomming.id)
		})
	});

