// Header-Panel --------------------------------------------------*	
#header.span_12_of_12
	= render(:partial => "common/header")

#three-ways-panel.white-bg.span_12_of_12
	%h2.three-ways.span_12_of_12 THREE WAYS OF ENJOYING A RIP VAN WAFEL

// Threeways to enjoy Panel ----------------------------------------*
#enjoy-panel
	%table#actual-table-enjoy
		%tr
			%td.one.orange-bg
				%h2.enjoy-text.white.centered.span_12_of_12 TOP
				= render(:partial => "common/steam")
				= image_tag( 'product-page/eat-cup.png', alt: "way-to-eat", :class => "way-to-eat span_11_of_12")
			%td.two
				.right-enjoy.blue-bg.span_12_of_12
					%h3.product-text.white.centered.span_12_of_12 FOR BEVERAGES THAT ARE TOO HOT TO DRINK AND DON'T HAVE A FROTH LAYER
					#drink.span_3_of_12
						.cssanimations
							.steam
								= render(:partial => "common/steam")
						= image_tag( 'product-page/drink-coffee.png', alt: "drink", :class => "drink-image cup span_12_of_12")
						%span.drink-text{:style => "padding-left: 2em"} COFFEE/AMERICANO

					#drink.span_3_of_12
						.cssanimations
							.steam
								= render(:partial => "common/steam")
						= image_tag( 'product-page/drink-tea.png', alt: "drink", :class => "drink-image cup span_12_of_12")
						%span.drink-text{:style => "padding-left: 2em"} TEA

					#drink.span_3_of_12
						.cssanimations
							.steam
								= render(:partial => "common/steam")
						= image_tag( 'product-page/drink-milk.png', alt: "drink", :class => "drink-image cup span_12_of_12")
						%span.drink-text{:style => "padding-left: 2em"} MILK

					#drink.span_3_of_12
						.cssanimations
							.steam
								= render(:partial => "common/steam")
						= image_tag( 'product-page/drink-hot-cider.png', alt: "drink", :class => "drink-image cup span_12_of_12")
						%span.drink-text{:style => "padding-left: 2em"} HOT CIDER
					%a{:href => "#dialog", :name => "modal"}
						%p2.warning-text.span_12_of_12 DON'T SIT YOUR WAFEL TOO LONG
		%tr
			%td.one.orange-bg
				%h2.enjoy-text.white.centered.span_12_of_12 DIP
				= render(:partial => "common/steam")
				= image_tag( 'product-page/eat-dip.png', alt: "way-to-eat", :class => "way-to-eat span_11_of_12")
			%td.two
				.right-enjoy.blue-bg.span_12_of_12
					%h3.product-text.white.centered.span_12_of_12 FOR ALL HOT BEVERAGES
					#drink.span_4_of_12
						.cssanimations
							.steam-drinks-2
								= render(:partial => "common/steam")
						= image_tag( 'product-page/drink-espresso-dip.png', alt: "drink", :class => "drink-image span_12_of_12")
						%span.drink-text ESPRESSO
					
					#drink.span_4_of_12
						.cssanimations
							.steam-drinks-2
								= render(:partial => "common/steam")
						= image_tag( 'product-page/drink-mocha-dip.png', alt: "drink", :class => "drink-image span_12_of_12")
						%span.drink-text{:style => "padding-left: 3em"} MOCHA
					
					#drink.span_4_of_12
						.cssanimations
							.steam-drinks-2
								= render(:partial => "common/steam")
						= image_tag( 'product-page/drink-cappuccino-dip.png', alt: "drink", :class => "drink-image span_12_of_12")
						%span.drink-text{:style => "padding-left: 3em"} CAPPUCCINO/LATTE
		%tr
			%td.one.orange-bg
				%h2.enjoy-text.white.centered.span_12_of_12 SNACK
				= image_tag( 'product-page/eat-bite.png', alt: "way-to-eat", :class => "way-to-eat span_11_of_12")
			%td.two
				.right-enjoy.blue-bg.span_12_of_12
					#drink.span_5_of_12
						= image_tag( 'product-page/bike.png', alt: "drink", :class => "drink-image span_12_of_12")
						%span.drink-text ON THE RUN
					%h2.or.white.span_1_of_12 OR
					#drink.span_6_of_12
						= image_tag( 'product-page/chair.png', alt: "drink", :class => "drink-image span_12_of_12")
						%span.drink-text SITTING DOWN

// Header-Panel --------------------------------------------------*
#header-panel.white-bg.span_12_of_12
	.headline.span_12_of_12
		%h2.mission-text.span_10_of_12 
			WE BELIEVE TAKING A QUALITY BREAK ALSO MEANS INDULGING RESPONSIBLY. 
			EACH RIP VAN WAFEL IS ONLY 
			%span{:style => "font-weight: 700"}150 CALORIES. 
			%br/
			%span{:style => "font-weight: 700"} RIP VAN WAFELS ARE CRAFTED WITH QUALITY INGREDIENTS:


// Ingredients-Panel --------------------------------------------------*

// hover to text animation
//TODO: make these square
//TODO: make the nutrient information work
#ingredients-panel
	%table#actual-table-ingredients
		%tr
			%td
				#one
					%p
						%span.centered WHEAT
						= image_tag( 'product-page/ingredient-wheat.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered GLUCOSE
						= image_tag( 'product-page/ingredient-glucose.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered BUTTER
						= image_tag( 'product-page/ingredient-butter.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered SUGAR
						= image_tag( 'product-page/ingredient-sugar.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered EGGS
						= image_tag( 'product-page/ingredient-egg.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered SOY
						= image_tag( 'product-page/ingredient-soy.png', alt: "ingredient", :class => "ingredient span_12_of_12")
		%tr
			%td
				#one
					%p
						%span.centered SALT
						= image_tag( 'product-page/ingredient-salt.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered MOLASSES
						= image_tag( 'product-page/ingredient-molasses.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered COCOA
						= image_tag( 'product-page/ingredient-cocoa.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered SPICES
						= image_tag( 'product-page/ingredient-spices.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered VANILLA EXTRACT
						= image_tag( 'product-page/ingredient-extract.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered BAKING SODA
						= image_tag( 'product-page/ingredient-baking_soda.png', alt: "ingredient", :class => "ingredient span_12_of_12")

// Portions-Panel --------------------------------------------------*

%table#actual-table-portions
	%tr
		%td
			%a{:href => "#dialog1", :name => "modal"}
				#caramel-panel.orange-bg.span_12_of_12
					%h2.ingredient-text.span_12_of_12 CARAMEL
			
		%td
			%a{:href => "#dialog2", :name => "modal"}
				#cocoa-panel.blue-bg.span_12_of_12
					%h2.ingredient-text.span_12_of_12 COCOA



// Header-Panel --------------------------------------------------*
#nutrition-panel-header.white-bg.span_12_of_12
	%h2.nutrition-text.span_12_of_12 MOUSE OVER A SNACK ON THE RIGHT TO SEE HOW WE COMPARE WITH EVERYDAY PRODUCTS YOU KNOW

// Nutrition-Panel --------------------------------------------------*
#nutrition-panel.span_10_of_12
	#nutrition-column1.span_4_of_12
		= image_tag( 'product-page/rvw.png', alt: "nutrient-fact", :class => "nutrient-image span_8_of_12")
		%h3.nutrition-title Rip Van Wafels
		%p.nutrition-text CARAMEL FILLED
	#nutrition-column2.span_4_of_12
		#muffin
			%p.nutrient-title.span_8_of_12 CALORIES
			= image_tag( 'product-page/nutrition/muffin_calories.png', alt: "nutrient-fact", :class => "nutrient-image span_8_of_12")

			%p.nutrient-title.span_8_of_12 FAT
			= image_tag( 'product-page/nutrition/muffin_fat.png', alt: "nutrient-fact", :class => "nutrient-image span_8_of_12")

			%p.nutrient-title.span_8_of_12 SUGAR
			= image_tag( 'product-page/nutrition/muffin_sugar.png', alt: "nutrient-fact", :class => "nutrient-image span_8_of_12")
		#cake
			%p.nutrient-title.span_8_of_12 CALORIES
			= image_tag( 'product-page/nutrition/odwalla_calories.png', alt: "nutrient-fact", :class => "nutrient-image span_8_of_12")

			%p.nutrient-title.span_8_of_12 FAT
			= image_tag( 'product-page/nutrition/odwalla_fat.png', alt: "nutrient-fact", :class => "nutrient-image span_8_of_12")

			%p.nutrient-title.span_8_of_12 SUGAR
			= image_tag( 'product-page/nutrition/odwalla_sugar.png', alt: "nutrient-fact", :class => "nutrient-image span_8_of_12")

		#croissant
			%p.nutrient-title.span_8_of_12 CALORIES
			= image_tag( 'product-page/nutrition/croissant_calories.png', alt: "nutrient-fact", :class => "nutrient-image span_8_of_12")

			%p.nutrient-title.span_8_of_12 FAT
			= image_tag( 'product-page/nutrition/croissant_fat.png', alt: "nutrient-fact", :class => "nutrient-image span_8_of_12")

			%p.nutrient-title.span_8_of_12 SUGAR
			= image_tag( 'product-page/nutrition/croissant_sugar.png', alt: "nutrient-fact", :class => "nutrient-image span_8_of_12")
		#odwalla
			%p.nutrient-title.span_8_of_12 CALORIES
			= image_tag( 'product-page/nutrition/clif_calories.png', alt: "nutrient-fact", :class => "nutrient-image span_8_of_12")

			%p.nutrient-title.span_8_of_12 FAT
			= image_tag( 'product-page/nutrition/clif_fat.png', alt: "nutrient-fact", :class => "nutrient-image span_8_of_12")

			%p.nutrient-title.span_8_of_12 SUGAR
			= image_tag( 'product-page/nutrition/clif_sugar.png', alt: "nutrient-fact", :class => "nutrient-image span_8_of_12")

	#nutrition-column3.span_4_of_12
		#nutrient1
			= image_tag( 'product-page/nutrient-muffin_off.png', alt: "nutrient-fact", :class => "nutrient-image img-swap span_8_of_12")
			%p.nutrient-title MUFFIN

		#nutrient2
			= image_tag( 'product-page/nutrient-odwalla_off.png', alt: "nutrient-fact", :class => "nutrient-image img-swap span_8_of_12")
			%p.nutrient-title ODWALLA

		#nutrient3
			= image_tag( 'product-page/nutrient-cake_off.png', alt: "nutrient-fact", :class => "nutrient-image img-swap span_8_of_12")
			%p.nutrient-title CROISSANT

		#nutrient4
			= image_tag( 'product-page/nutrient-energybar_off.png', alt: "nutrient-fact", :class => "nutrient-image img-swap span_8_of_12")
			%p.nutrient-title CLIF BAR
				
/Modals
#boxes
	#dialog.window
		%a.close{:href => "#"} Close
		= image_tag( 'product-page/popup-wafel.jpg', alt: "ingredient", :class => "ingredient span_12_of_12")
		
	#dialog1.window
		%a.close{:href => "#"} Close
		= image_tag( 'product-page/popup-caramel.jpg', alt: "ingredient", :class => "ingredient span_12_of_12")

	#dialog2.window
		%a.close{:href => "#"} Close
		= image_tag( 'product-page/popup-chocolate.jpg', alt: "ingredient", :class => "ingredient span_12_of_12")
	#mask


:javascript
	$("#nutrient1").mouseover(function () {
			$('#muffin').toggleClass('active');
		}).mouseout(function(){
			$('#muffin').toggleClass('active');
		});
	$("#nutrient2").mouseover(function () {
			$('#cake').toggleClass('active');
		}).mouseout(function(){
			$('#cake').toggleClass('active');
		});
	$("#nutrient3").mouseover(function () {
			$('#croissant').toggleClass('active');
		}).mouseout(function(){
			$('#croissant').toggleClass('active');
		});
	$("#nutrient4").mouseover(function () {
			$('#odwalla').toggleClass('active');
		}).mouseout(function(){
			$('#odwalla').toggleClass('active');
		});
