// Header-Panel --------------------------------------------------*	
#header.span_12_of_12
	= render(:partial => "common/header")

#three-ways-panel.white-bg.span_12_of_12
	%h2.three-ways.span_12_of_12 THREE WAYS OF ENJOYING A RIP VAN WAFEL

/ Steam
/ #steam
/ 	= render(:partial => "common/steam")

// Threeways to enjoy Panel ----------------------------------------*
#enjoy-panel
	.left-enjoy.orange-bg.span_3_of_12
		%h2.enjoy-text.white.centered.span_12_of_12 TOP
		= render(:partial => "common/steam")
		= image_tag( 'product-page/eat-cup.png', alt: "way-to-eat", :class => "way-to-eat span_10_of_12")
	.right-enjoy.blue-bg.span_9_of_12
		%h3.product-text.white.centered.span_12_of_12 FOR BEVERAGES THAT ARE TOO HOT TO DRINK AND DON'T HAVE A FROTH LAYER
		%tr
			%td
				#drink.span_3_of_12
					.cssanimations
						.steam
							= render(:partial => "common/steam")
					= image_tag( 'product-page/drink-coffee.png', alt: "drink", :class => "drink-image span_12_of_12")
					%span.drink-text COFFEE
			%td
				#drink.span_3_of_12
					.cssanimations
						.steam
							= render(:partial => "common/steam")
					= image_tag( 'product-page/drink-tea.png', alt: "drink", :class => "drink-image span_12_of_12")
					%span.drink-text TEA
			%td
				#drink.span_3_of_12
					.cssanimations
						.steam
							= render(:partial => "common/steam")
					= image_tag( 'product-page/drink-milk.png', alt: "drink", :class => "drink-image span_12_of_12")
					%span.drink-text MILK
			%td
				#drink.span_3_of_12
					.cssanimations
						.steam
							= render(:partial => "common/steam")
					= image_tag( 'product-page/drink-hot-cider.png', alt: "drink", :class => "drink-image span_12_of_12")
					%span.drink-text HOT CIDER

#enjoy-panel
	.left-enjoy.orange-bg.span_3_of_12
		%h2.enjoy-text.white.centered.span_12_of_12 DIP
		= render(:partial => "common/steam")
		= image_tag( 'product-page/eat-dip.png', alt: "way-to-eat", :class => "way-to-eat span_10_of_12")
	.right-enjoy.blue-bg.span_9_of_12
		%h3.product-text.white.centered.span_12_of_12 FOR ALL HOT BEVERAGES
		%tr
			%td.span_4_of_12
				#drink.span_4_of_12
					.cssanimations
						.steam
							= render(:partial => "common/steam")
					= image_tag( 'product-page/drink-espresso-dip.png', alt: "drink", :class => "drink-image span_10_of_12")
					%span.drink-text ESPRESSO
			%td.span_4_of_12
				#drink.span_4_of_12
					.cssanimations
						.steam
							= render(:partial => "common/steam")
					= image_tag( 'product-page/drink-mocha-dip.png', alt: "drink", :class => "drink-image span_10_of_12")
					%span.drink-text MOCHA
			%td.span_4_of_12
				#drink.span_4_of_12
					.cssanimations
						.steam
							= render(:partial => "common/steam")
					= image_tag( 'product-page/drink-cappuccino-dip.png', alt: "drink", :class => "drink-image span_10_of_12")
					%span.drink-text CAPPUCCINO

#enjoy-panel
	.left-enjoy.orange-bg.span_3_of_12
		%h2.enjoy-text.white.centered.span_12_of_12 SNACK
		= image_tag( 'product-page/eat-bite.png', alt: "way-to-eat", :class => "way-to-eat span_10_of_12", :style => "padding-bottom: 1.2em")

	.right-enjoy.blue-bg.span_9_of_12
		%h3.product-text.white.centered.span_12_of_12 WITHOUT ANY BEVERAGE
		%tr
			%td
				#drink.span_6_of_12
					= image_tag( 'product-page/bike.png', alt: "drink", :class => "drink-image span_10_of_12")
					%span.drink-text ON THE RUN
			%td
				#drink.span_6_of_12
					= image_tag( 'product-page/chair.png', alt: "drink", :class => "drink-image span_10_of_12")
					%span.drink-text SITTING DOWN

// Header-Panel --------------------------------------------------*
#header-panel.lt-gray-bg.span_12_of_12
	%h2.share-text.span_12_of_12 SHARE WITH US SECTION

// Video-Panel --------------------------------------------------*
#video-panel.video-bg.span_12_of_12
	.headline.span_12_of_12 
		%h1.video-text.span_6_of_12
			RIP VAN WAFEL 
			IS A SPECIAL WAFEL PRODUCED 
			BY AN UNIQUE PROCESS
	.play2
		= link_to image_tag( 'buttons/play-button_off.png', alt: "home", :class => "img-swap span_12_of_12"), root_path

// Header-Panel --------------------------------------------------*
#header-panel.white-bg.span_12_of_12
	.headline.span_12_of_12
		%h2.mission-text.span_10_of_12 
			WE BELIEVE TAKING A QUALITY BREAK ALSO MEANS INDULGING RESPONSIBLY. 
			EACH RIP VAN WAFEL CONTAINS ONLY 8g OF SUGAR AND IS 150 CALORIES. 
			RIP VAN WAFELS ARE CRAFTED WITH QUALITY INGREDIENTS.


// Ingredients-Panel --------------------------------------------------*

// hover to text animation
//TODO: make these square
#ingredients-panel
	%table#actual-table-ingredients
		%tr
			%td
				#one
					%p
						%span.centered WHEAT
						= image_tag( 'product-page/ingredient-wheat.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered GLUCOSE
						= image_tag( 'product-page/ingredient-glucose.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered BUTTER
						= image_tag( 'product-page/ingredient-butter.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered SUGAR
						= image_tag( 'product-page/ingredient-sugar.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered EGGS
						= image_tag( 'product-page/ingredient-egg.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered SOY
						= image_tag( 'product-page/ingredient-soy.png', alt: "ingredient", :class => "ingredient span_12_of_12")
		%tr
			%td
				#one
					%p
						%span.centered SALT
						= image_tag( 'product-page/ingredient-salt.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered MOLASSES
						= image_tag( 'product-page/ingredient-molasses.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered COCOA
						= image_tag( 'product-page/ingredient-cocoa.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered SPICES
						= image_tag( 'product-page/ingredient-spices.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered VANILLA EXTRACT
						= image_tag( 'product-page/ingredient-extract.png', alt: "ingredient", :class => "ingredient span_12_of_12")
			%td
				#one
					%p
						%span.centered BAKING SODA
						= image_tag( 'product-page/ingredient-baking_soda.png', alt: "ingredient", :class => "ingredient span_12_of_12")

// Portions-Panel --------------------------------------------------*

%table#actual-table-portions
	%tr
		%td
			#caramel-panel.orange-bg.span_12_of_12
				%h2.ingredient-text.span_12_of_12 CARAMEL
			
		%td
			#cocoa-panel.blue-bg.span_12_of_12
				%h2.ingredient-text.span_12_of_12 COCOA
		

// Header-Panel --------------------------------------------------*
#nutrition-panel-header.white-bg.span_12_of_12
	%h2.nutrition-text.span_12_of_12 SEE HOW WE COMPARE WITH EVERYDAY PRODUCTS YOU KNOW

// Nutrition-Panel --------------------------------------------------*

/ Image swap
/ = image_tag( 'product-page/rvw_off.png', alt: "nutrient-fact", :class => "nutrient-fact img-swap span_1_of_12")

#nutrition-panel.span_12_of_12
	#nutrition-column.rvw.span_4_of_12
		= image_tag( 'product-page/rvw.png', alt: "nutrient-fact", :class => "nutrient-fact span_8_of_12")
		%h3.nutrient-text Rip Van Wafels

	#nutrition-column.span_4_of_12
		%p.nutrient-text CALORIES
		= image_tag( 'product-page/rvw.png', alt: "nutrient-fact", :class => "nutrient-fact span_8_of_12")

		%p.nutrient-text FAT
		= image_tag( 'product-page/rvw.png', alt: "nutrient-fact", :class => "nutrient-fact span_8_of_12")

		%p.nutrient-text SUGAR
		= image_tag( 'product-page/rvw.png', alt: "nutrient-fact", :class => "nutrient-fact span_8_of_12")
	#nutrition-column.rvw.span_4_of_12
		= image_tag( 'product-page/nutrient-muffin_off.png', alt: "nutrient-fact", :class => "nutrient-fact img-swap span_8_of_12")
		%p.nutrient-text MUFFIN
		= render(:partial => "common/steam")
		= image_tag( 'product-page/nutrient-croissant_off.png', alt: "nutrient-fact", :class => "nutrient-fact img-swap span_8_of_12")
		%p.nutrient-text CAKE
		= render(:partial => "common/steam")
		= image_tag( 'product-page/nutrient-cake_off.png', alt: "nutrient-fact", :class => "nutrient-fact img-swap span_8_of_12")
		%p.nutrient-text CROISSANT
		= render(:partial => "common/steam")
		= image_tag( 'product-page/nutrient-energybar_off.png', alt: "nutrient-fact", :class => "nutrient-fact img-swap span_8_of_12")
		%p.nutrient-text ODWALLA
	%p.footnote.span_12_of_12 * Nutrition figures are taken from the food section from the Starbucks website
//TODO: Change this to Odwalla

	
