//TODO: add shopify in here 
// Header-Panel --------------------------------------------------*	
#header.span_12_of_12
	= render(:partial => "common/header")

#are-you.lt-gray-bg.span_12_of_12
	#wholesaler.span_8_of_12
		%h2.header.centered.span_12_of_12 
			ARE YOU A
		#distributor.span_5_of_12
			= image_tag( 'wholesale-page/wholesaler1.png', alt: "wholesaler", :class => "wholesaler span_12_of_12")
			%h2.wholesale-title.span_12_of_12
				DISTRIBUTOR
				%br/
				%span.wholesale-title{:style => "opacity: 0"} test
						
		%h2.or.span_2_of_12 OR
		#distributor.span_5_of_12
			= image_tag( 'wholesale-page/wholesaler2.png', alt: "wholesaler", :class => "wholesaler span_12_of_12")
			%h2.wholesale-title.span_12_of_12 
				RETAIL/FOOD 
				%br/
				SERVICE PROVIDER 
// locations-Panel --------------------------------------------------*
#locations-panel.lt-gray-bg
	.location-text.span_10_of_12
		%h2.dkgray WE SUPPLY A NUMBER OF DISTRIBUTORS, RETAILERS AND FOOD PROVIDERS.
		%h2.bold.dkgray HERE ARE SOME LOCATIONS THAT ARE A GOOD FIT:
// Slideshow-Panel --------------------------------------------------*
/ %li#slide

/TODO: get image for 6th option
/TODO: get logos in here
.content.-wholesale.lt-gray-bg
	.main.lt-gray-bg
		#gallery.span_10_of_12
			%a{:href => "#{asset_path 'timelineimage1.jpg'}", :id => 'this'}
				#thumbnail.span_2_of_12 
					= image_tag "shop-1_off.png", :class => "thumbnail img-swap span_12_of_12", :title => "COFFEESHOPS"
					%p.title COFFEESHOPS
			/
			%a{:href => "#{asset_path 'timelineimage2.jpg'}", :id => 'this'}
				#thumbnail.span_2_of_12			
					= image_tag "shop-2_off.png", :class => "thumbnail img-swap span_12_of_12", :title => "OFFICES"
					%p.title OFFICES
			/
			%a{:href => "#{asset_path 'timelineimage3.jpg'}", :id => 'this'}
				#thumbnail.span_2_of_12			
					= image_tag "shop-3_off.png", :class => "thumbnail img-swap span_12_of_12", :title => "SPECIALTY SHOPS"
					%p.title SPECIALTY SHOPS
			/
			%a{:href => "#{asset_path 'timelineimage4.jpg'}", :id => 'this'}
				#thumbnail.span_2_of_12			
					= image_tag "shop-4_off.png", :class => "thumbnail img-swap span_12_of_12", :title => "SPORTS SHOPS"
					%p.title SPORTS SHOPS
			/
			%a{:href => "#{asset_path 'timelineimage5.jpg'}", :id => 'this'}
				#thumbnail.span_2_of_12			
					= image_tag "shop-5_off.png", :class => "thumbnail img-swap span_12_of_12", :title => "HOTELS"
					%p.title HOTELS
			/
	#gallery.span_10_of_12
		#photo.timeline-image.span_5_of_12
		%span.filler.span_1_of_12
		#text.description-right.span_5_of_12
			%h2 This is the initial title. 
			%p this is the initial paragraph.




/ // Slideshow-Panel --------------------------------------------------*

/ #container.slideshow.span_10_of_12
/ 	#banner-slide
/ 		%ul.bjqs
/ 			%li
/ 				%a{:href => ""}
/ 					= image_tag( 'about-page/timeline/timelineimage0.jpg', alt: "timeline", :class => "timeline-image", :title => "One")
/ 					.description-right
/ 						%h2 BLAH BLAH
/ 						%span Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
/ 			%li
/ 				.description-right
/ 					%h2 BLAH BLAH
/ 					%span Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
/ 					= image_tag( 'about-page/timeline/timelineimage1.jpg', alt: "timeline", :class => "timeline-image", :title => "this is the title")
/ 			%li
/ 				.slide-content
/ 					= image_tag( 'about-page/timeline/timelineimage2.png', alt: "timeline", :class => "timeline-image", :title => "this is the title")
/ 					.description-right
/ 						%h2 BLAH BLAH
/ 						%span Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
/ 			%li= image_tag( 'about-page/timeline/timelineimage3.jpg', alt: "timeline", :class => "timeline-image", :title => "this is the title")
/ 			%li= image_tag( 'about-page/timeline/timelineimage4.jpg', alt: "timeline", :class => "timeline-image", :title => "this is the title")
/ 			%li= image_tag( 'about-page/timeline/timelineimage5.jpg', alt: "timeline", :class => "timeline-image", :title => "this is the title")
/ 			%li= image_tag( 'about-page/timeline/timelineimage6.jpg', alt: "timeline", :class => "timeline-image", :title => "this is the title")
/ 			%li= image_tag( 'about-page/timeline/timelineimage7.jpg', alt: "timeline", :class => "timeline-image", :title => "this is the title")


// Learn-More-Panel --------------------------------------------------*
#learnmore-panel.lt-gray-bg.span_12_of_12
	#learn
	%h2.learn-text.blue.span_12_of_12
		#learn.span_8_of_12
			AND WOULD YOU LIKE TO LEARN MORE ABOUT OUR PRODUCT OFFERING, PRICING & LOGISTICS?
			%br/
			PLEASE FILL OUT THE FORM SO WE CAN GET BACK TO YOU WITH THE APPROPRIATE INFORMATION.


// Contact-Panel --------------------------------------------------*
#contact-panel.lt-gray-bg.span_12_of_12
	%h2.contact-header.span_6_of_12 IF YOU LIKE TO PLACE AN ORDER OR SIMPLY HAVE A CHAT WITH US, PLEASE GET IN TOUCH:
	#contact-methods.span_8_of_12
		#contact.span_6_of_12
			= image_tag( 'wholesale-page/contact-call.png', alt: "contact", :class => "contact-image span_2_of_12")
			%span.contact-text.blue.span_3_of_12 415-000-000

		#contact.span_6_of_12
			= image_tag( 'wholesale-page/contact-mail.png', alt: "contact", :class => "contact-image span_2_of_12")
			%span.contact-text.blue.span_3_of_12 SALE@RIPVANWAFELS.COM



	

