/ TODO: Add actual links here

#footer.lt-gray-bg.span_12_of_12
	.contact-text.span_6_of_12
		%p.footer-text 
			WANNA GET IN TOUCH ?
			%span.contact EMAIL US 
			OR 
			%span.contact GIVE US A RING
		%p.address 2013. All rights reserved © Rip Van Wafels. Co. 212 Clara Street. San Francisco CA 94107
		.social-icons.span_6_of_12
			= link_to image_tag( 'social/facebook-logo.png', alt: "facebook", :class => "social-logo span_2_of_12"), 'https://facebook.com/ripvanwafels'
			= link_to image_tag( 'social/twitter-logo.png', alt: "twitter", :class => "social-logo span_2_of_12"), 'https://twitter.com/ripvanwafels'
			= link_to image_tag( 'social/pinterest-logo.png', alt: "pinterest", :class => "social-logo span_2_of_12"),'https://pinterest.com/ripvanwafels'
			= link_to image_tag( 'social/instagram-logo.png', alt: "instagram", :class => "social-logo span_2_of_12"), 'https://instagram.com/ripvanwafels'
	
	= link_to image_tag( 'final-logo-rvw.png', alt: "rvw", :class => "footer-logo span_2_of_12"), 'https://ripvanwafels.com'


