// Header --------------------------------------------------*
#header.span_12_of_12
	%ul.header-list
		%li.nav.span_2_of_12
			= link_to image_tag( 'rvw-logo_off.png', alt: "home", :class => "header-logo img-swap"), root_path
		%li.nav.span_2_of_12
			= link_to_active_class("WAFELS", 'current', wafel_path, class: 'span_2_of_12 header-nav medium')
		%li.nav.span_2_of_12
			= link_to_active_class("SHOP", 'current', store_path, class: 'span_2_of_12 header-nav medium')
		%li.nav.span_2_of_12 
			= link_to "WHOLESALE", wholesale_path, :class => 'header-nav medium span_2_of_1'
		%li.nav.span_2_of_12 
			= link_to_active_class("ABOUT US", 'current', about_path, class: 'span_2_of_12 header-nav medium')
