!!!
%html
  %head

    / Fonts
    %script{:src => "//use.typekit.net/kmb0sfe.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}

    / Sticky header
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
      %script{:src => "jquery.sticky.js", :type => "text/javascript"}
      :javascript
        $(window).load(function(){
          $("#header").sticky({ topSpacing: 0 });
        });

    / Image swap
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
      %script{:src => "image_swap.js", :type => "text/javascript"}
      %script{:src => "jquery.transit.js", :type => "text/javascript"}

    / Google maps
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    :javascript
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var myLatlng = new google.maps.LatLng(37.779158, -122.402868);
        var map_options = {
          center: myLatlng,
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options)
          var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
          });
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    /Google Analytics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26605459-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


    / Meta
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title 
        = content_for?(:title) ? yield(:title) : "Rip Van Wafels"
      %meta{:content => content_for?(:description) ? yield(:description) : "Rip Van Wafels", :name => "description"}

        %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,800,300", :rel => "stylesheet", :type => "text/css"}/

        = stylesheet_link_tag "application", :media => "all"
        = stylesheet_link_tag "header", :media => "all"
        = stylesheet_link_tag "footer", :media => "all"
        = stylesheet_link_tag "modals", :media => "all"
        = stylesheet_link_tag "12cols", :media => "all"
        = stylesheet_link_tag "steam", :media => "all"
        = stylesheet_link_tag "gallery", :media => "all"
        = stylesheet_link_tag "clock", :media => "all"
        = stylesheet_link_tag "wafels", :media => "all"
        = stylesheet_link_tag "mediaqueries", :media => "all"

        = javascript_include_tag "application"
        = javascript_include_tag "modal"

        = javascript_include_tag "jquery.slide-deck", :media => "all"
        = javascript_include_tag "jquery.transit", :media => "all"

        = csrf_meta_tags
        = yield(:head)

  %body{:class => "#{controller_name} #{action_name}"}
    #container.container
      %header
        = render 'layouts/navigation'
        = render 'layouts/messages'
      #main{:role => "main"}
        = yield
      %footer
        = render(:partial => "common/footer")
    / ! end of #container

/TODO: add a favicon in here somewhere
